body {
    text-align: center;
}

nav {
    text-align: left;
    padding: 0;
    background-color: #F0F0F0;
}

#intro p {
    text-align: center;
    font-size: 15px;
    margin: auto;
}

#title {
    background-color: #F0F0F0;
    display: block;
}

 .navbar li{
    display: inline-block;
}

 .navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 20px ;
}
.navbar li a:hover{
    background-color: teal;
}

.studyMethods {
    text-align: center;
}

.studyMethods > ul {
    display: inline-block;
}

.facts {
    color: red;
    font-size: 2em;
}

.studyMethods {
    text-align: center;
}

.studyMethods > ul {
    display: inline-block;
}

#color{
    color: navy;
}

button {
    width: 100px;
    height: 60px;
}

#post1 {
    width: 60%;
    margin: auto;
}
