body {
    text-align: center;
}

#title {
    background-color: lightblue;
}

.facts {
    color: red;
    font-size: 2em;
}

#color{
    color: navy;
}

button {
    width: 250px;
    height: 150px;
}

#post1 {
    width: 60%;
    margin: auto;
}