body {
    text-align: center;
}

nav {
    text-align: left;
    padding: 10px 20px 10px 20px;
}

.studyMethods {
    text-align: center;
}

.studyMethods > ul {
    display: inline-block;
}

#title {
    background-color: lightblue;
}

.facts {
    color: red;
    font-size: 2em;
}

#color{
    color: navy;
}

button {
    width: 100px;
    height: 60px;
}

#post1 {
    width: 60%;
    margin: auto;
}