<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script language="javascript" type="text/javascript" src="https://cdn.jsdelivr.net/npm/p5@1.1.4/lib/p5.min.js"></script> 
  <script language="javascript" src="https://cdn.jsdelivr.net/npm/p5@1.1.4/lib/addons/p5.sound.min.js"></script>
  <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

	<title>Selfocus - {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<nav> 
  <img src =https://cdn.discordapp.com/attachments/756731549126492194/757098791286603906/unknown.png >
  
  <ul class = "navbar">
    <li>
      <a id="indexLink" href="/"> Main Page </a>
    </li>
    <li>
      <a id="timerLink" href="timer"> Timer </a>
    </li>
    <li>
      <a id="profileLink" href="profile  "> Profile </a>
    </li>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

<body>
  {% block body %}{% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>
</html>
