{% extends 'base.html' %}

{% block head %}
	<h1>{% block title %}Profile Page{% endblock %}</h1>
{% endblock %}

{% block body %}
  <h1 id="title">Profile Selector</h1>
  <h3 id="profileHeader">Choose a study timer that fits your style!</h3>
  <div class="studyMethods ui segment">
    {% for key, value in profiles.items() %}
      <h4 class="method-name">{{key}}</h4>
      {% for block in value %}  
        <ul>
            <!-- Display minutes and seconds of work time -->
            {% if block["type"] == "work" %}
              {% if block["min"] != 0 and block["sec"] != 0 %}
                <li class="description">{{block["min"]}} minutes and {{block["sec"]}} seconds of work</li>
              {% elif block["min"] != 0 and block["sec"] == 0 %}
                <li class="description">{{block["min"]}} minutes of work</li>
              {% else %}
                <li class="description">{{block["sec"]}} seconds of work</li>
              {% endif %}

            <!-- Display minutes and seconds of rest time -->
            {% elif block["type"] == "break" %}
              {% if block["min"] != 0 and block["sec"] != 0 %}
                <li class="description">{{block["min"]}} minutes and {{block["sec"]}} seconds of rest</li>
              {% elif block["min"] != 0 and block["sec"] == 0 %}
                <li class="description">{{block["min"]}} minutes of rest</li>
              {% else %}
                <li class="description">{{block["sec"]}} seconds of rest</li>
              {% endif %}
            {% endif %}
        </ul>
      {% endfor %}
    {% endfor %}
  </div>
  <h3 id="newProfileHeader">Or create your own study profile!</h3>
  <div class="newStudyMethod ui segment">
      <form id="first" class="studyMethodForm ui segment">
          <label for="newMethodName">Name of new profile: </label>
          <input type="text" id="newMethodName" name="newMethodName">
          <br>
          <h4>First Work Interval: </h4>
          <label for="firstWorkMinutes">Minutes: </label>
          <input type="number" id="firstWorkMinutes" name="firstWorkMinutes">
          <label for="firstWorkSeconds">Seconds: </label>
          <input type="number" id="firstWorkSeconds" name="firstWorkSeconds">
          <br>
          <h4>First Break Interval:</h4>
          <label for="firstBreakMinutes">Minutes: </label>
          <input type="number" id="firstBreakMinutes" name="firstBreakMinutes">
          <label for="firstBreakSeconds">Seconds: </label>
          <input type="number" id="firstBreakSeconds" name="firstBreakSeconds">
          <br>
          <button type="button" id="addIntervalOne" onclick="addNewTimeInterval()">Add Work/Break Interval</button>
        </form>
      <script>
          function addNewTimeInterval(){
            var newInt = document.getElementById("second");
            if(newInt.style.display === "none") {
                newInt.style.display = "block";
            }
            else{
                newInt.style.display = "none";
            }
            document.getElementById("addIntervalOne").style.display = "none";
          }
      </script>
      <form id="second" class="studyMethodForm ui segment" style="display: none">
        <h4>Second Work Interval: </h4>
        <label for="secondWorkMinutes">Minutes: </label>
        <input type="number" id="secondWorkMinutes" name="secondWorkMinutes">
        <label for="secondWorkSeconds">Seconds: </label>
        <input type="number" id="secondWorkSeconds" name="secondWorkSeconds">
        <br>
        <h4>Second Break Interval:</h4>
        <label for="secondBreakMinutes">Minutes: </label>
        <input type="number" id="secondBreakMinutes" name="secondBreakMinutes">
        <label for="secondBreakSeconds">Seconds: </label>
        <input type="number" id="secondBreakSeconds" name="secondBreakSeconds">
        <br>
        <button type="button" id="addIntervalTwo" onclick="addNewTimeIntervalTwo()">Add Work/Break Interval</button>
    </form>
    <script>
        function addNewTimeIntervalTwo(){
          var newInt = document.getElementById("third");
          if(newInt.style.display === "none") {
              newInt.style.display = "block";
          }
          else{
              newInt.style.display = "none";
          }
          document.getElementById("addIntervalTwo").style.display = "none";
        }
    </script>
    <form id="third" class="studyMethodForm ui segment" style="display: none">
        <h4>Third Work Interval: </h4>
        <label for="thirdWorkMinutes">Minutes: </label>
        <input type="number" id="thirdWorkMinutes" name="thirdWorkMinutes">
        <label for="thirdWorkSeconds">Seconds: </label>
        <input type="number" id="thirdWorkSeconds" name="thirdWorkSeconds">
        <br>
        <h4>Third Break Interval:</h4>
        <label for="thirdBreakMinutes">Minutes: </label>
        <input type="number" id="thirdBreakMinutes" name="thirdBreakMinutes">
        <label for="thirdBreakSeconds">Seconds: </label>
        <input type="number" id="thirdBreakSeconds" name="thirdBreakSeconds">
        <!-- <br>
        <button type="button" id="addIntervalThree" onclick="addNewTimeIntervalThree()">Add Work/Break Interval</button> -->
    </form>

</div>
{% endblock %}
