{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Timer Page{% endblock %}</h1>
{% endblock %}

{% block body %}
  <h1 id="title">Timer</h1>
  <img src="https://icons-for-free.com/download-icon-clock+minute+time+timer+watch+icon-1320086045717163975_512.png">
  
	<form>
		<label for="minutes">Time in seconds:</label>
    <input type="number" id="seconds" name="seconds" min="1" max="30">
		<input type="submit" value="Submit" accesskey="enter">
    <script>document.getElementById("seconds") = </script>
	</form>

  <h5 class="info">Click to start <script>document.getElementById("seconds").value</script> seconds!</h5>
  <p class="info" id="info-msg">You will get notified after the time ends!</p>

  <button onclick="countdown(document.getElementById('seconds').value)">Start</button>
  <p id="time">____</p>
{% endblock %}
